@media (max-width: 992px) {
  .container {
    padding: 304px 0;
  }

  .card-subscription {
    max-width: 343px;
    min-height: 586px;
    & &__card-image {
      height: 188px;

      img {
        transform: scaleX(1.33) scaleY(1.25);
      }
    }
    & &__card-summary-information {
      padding: 2.8rem 1rem 1.5rem 1rem;

      header {
        h1 {
          font-size: 1.5rem;
        }

        p {
          margin-top: 1rem;
          font-size: 0.875rem;
        }
      }
    }
  }

  .card-plan-subscription {
    margin-top: 2rem;
    height: 75px;
    padding: 0 1.5rem 0 1.25rem;

    svg {
      margin-right: 1.25rem;
    }

    span {
      margin-right: 1.5rem;
    }

    & &__name-subscription {
      flex: 1;
      margin-right: 30px;
      h2 {
        font-size: 1rem;
        line-height: 1.375rem;
      }
      p {
        margin-top: 2px;
        font-size: 0.75rem;
      }
    }
  }

  .button {
    &__change {
      font-size: 0.875rem;
      &:after {
        margin-top: -2px;
      }
    }

    &__cancel-order {
      font-size: 0.875rem;
      &:after {
        margin-top: -4px;
        max-width: 85px;
      }
    }
  }
}

@media (max-width: 575px) {
  .container {
    padding: 113px 16px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 113px 16px;
  }

  .card-subscription {
    min-height: 450px;
    & &__card-image {
      height: 150px;
    }
  }

  .card-plan-subscription {
    height: 60px;
    padding: 0 1rem;
    svg {
      height: 1.25rem;
      margin-right: 0.875rem;
    }
    span {
      margin-right: 0.875rem;
    }
    & &__name-subscription {
      margin-right: 15px;

      h2 {
        font-size: 0.75rem;
      }

      p {
        font-weight: 500;
        font-size: 0.6rem;
      }
    }
  }

  .button {
    &__change {
      font-size: 0.7rem;
    }
    &__payment {
      button {
        height: 3rem;
      }
    }
  }
}
