/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: "Raleway", sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  max-width: 1440px;
  padding: 180px 152px 174px 152px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}
