/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-bgc-main: #f8f9fe;
  --color-title: #151827;
  --color-primary-static: #680262;
  --color-primary-hover: #490245;
  --color-body: #85859b;
  --color-stroke: #cfd1dd;
  --color-white: #fff;
}
