/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}

a {
  text-decoration: none;
  color: black;
  animation: open 1s ease backwards;
}

@import "./components/buttons";
@import "./components/image-box";
@import "./components/article";
@import "./components/information";
@import "./components/information-technical";
@import "./components/lead-text";
@import "./components/media";
@import "./components/keyframes";
