.cards {
  .card-bgc-icon {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &_color {
      &_green {
        background-color: var(--color-bgc-icon-01);
      }
      &_blue {
        background-color: var(--color-bgc-icon-02);
      }
      &_cream {
        background-color: var(--color-bgc-icon-03);
      }
    }
  }
}
