/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  animation: open 0.3s ease backwards;
}

ul,
ol {
  list-style: none;
}

a {
  margin: auto auto 0 0;
  text-decoration: none;
}

@import "./components/cards";
@import "./components/card";
@import "./components/bgc-icon";
@import "./components/title";
@import "./components/description";
@import "./components/buttons";
@import "./components/media";
@import "./components/keyframes";