/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary: #5721f2;
  --color-on-surface: #000;
  --color-bgc-card-01: #e5efe2;
  --color-bgc-card-02: #e4e9f3;
  --color-bgc-card-03: #f4f1e4;
  --color-bgc-icon-01: #428a2f;
  --color-bgc-icon-02: #3d63ac;
  --color-bgc-icon-03: #b09e3d;
}
